<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net45" />
  <package id="Manatee.Json" version="4.0.2" targetFramework="net45" />
  <package id="Manatee.StateMachine" version="1.1.2" targetFramework="net45" />
  <package id="Manatee.Trello" version="1.11.1" targetFramework="net45" />
  <package id="Manatee.Trello.ManateeJson" version="1.5.0" targetFramework="net45" />
  <package id="Manatee.Trello.WebApi" version="1.0.4" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net45" />
  <package id="Moq" version="4.5.16" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="NUnit" version="3.4.1" targetFramework="net45" />
  <package id="NUnit.Should" version="1.0.2.0" targetFramework="net45" />
</packages>