<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="trellabit.net.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <trellabit.net.Settings>
      <setting name="IniFileName" serializeAs="String">
        <value>trellabit.ini</value>
      </setting>
      <setting name="TrelloAuthRequest" serializeAs="String">
        <value>You must authorise this application to access your Trello account. Please paste the token you receive into the application ini file and then restart this application.</value>
      </setting>
      <setting name="TrelloAuthRequestCaption" serializeAs="String">
        <value>Trello Authorisation Required</value>
      </setting>
      <setting name="AppName" serializeAs="String">
        <value>trellabit.net</value>
      </setting>
      <setting name="TrelloAuthUrl" serializeAs="String">
        <value>https://trello.com/1/connect?key={0}&amp;name={1}&amp;response_type=token&amp;scope=read,write&amp;expiration={2}</value>
      </setting>
    </trellabit.net.Settings>
  </applicationSettings>
</configuration>