<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MadMilkman.Ini" version="1.0.6.0" targetFramework="net452" />
  <package id="Manatee.Trello" version="1.10.0" targetFramework="net452" />
  <package id="Manatee.Trello.ManateeJson" version="1.5.0" targetFramework="net452" />
  <package id="Manatee.Trello.WebApi" version="1.0.4" targetFramework="net452" />
  <package id="NLog" version="4.3.4" targetFramework="net452" />
</packages>