<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HabitRPG.Client" version="3.0.24" targetFramework="net452" />
  <package id="MadMilkman.Ini" version="1.0.6.0" targetFramework="net452" />
  <package id="Manatee.Json" version="4.0.1" targetFramework="net452" />
  <package id="Manatee.StateMachine" version="1.1.2" targetFramework="net452" />
  <package id="Manatee.Trello" version="1.10.0" targetFramework="net452" />
  <package id="Manatee.Trello.ManateeJson" version="1.5.0" targetFramework="net452" />
  <package id="Manatee.Trello.WebApi" version="1.0.4" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="net452" />
  <package id="Microsoft.Bcl.Async" version="1.0.165" targetFramework="net452" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net452" />
  <package id="Microsoft.Net.Http" version="2.2.22" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net452" />
  <package id="NLog" version="4.3.4" targetFramework="net452" />
  <package id="NLog.Config" version="4.3.4" targetFramework="net452" />
  <package id="NLog.Schema" version="4.3.4" targetFramework="net452" />
  <package id="RestSharp" version="104.1" targetFramework="net452" />
</packages>